### Importing packages and mapping entry files

In [1]:
import pandas as pd
import numpy as np

time = pd.read_csv("Time.csv")
store = pd.read_csv("Store.csv")
sales = pd.read_csv("Sales.csv")
product = pd.read_csv("Product.csv")
customer = pd.read_csv("Customer.csv")
currency = pd.read_csv("CurrencyConversion.csv")

### Removing duplicates from time table and adding weekdays

In [2]:
time = time.drop_duplicates()
time['Weekday'] = pd.to_datetime(time['Date'], errors='coerce')
time['Weekday']= time['Weekday'].dt.day_name()
time = time[['MemberId', 'Date', 'MonthName', 'Month', 'QuarterName', 'Quarter', 'Year', 'YearName', 'Weekday']]
time

,MemberId,Date,MonthName,Month,QuarterName,Quarter,Year,YearName,Weekday
0,20200504,04/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Sunday
1,20200505,05/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Tuesday
2,20200506,06/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Friday
3,20200507,07/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Sunday
4,20200508,08/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Wednesday
5,20200509,09/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Saturday
6,20200510,10/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Monday
7,20200511,11/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Thursday
8,20200512,12/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Saturday
9,20200513,13/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Wednesday
10,20200514,14/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Thursday
11,20200515,15/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Friday
12,20200516,16/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Saturday
13,20200517,17/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Sunday
14,20200518,18/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Monday
15,20200519,19/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Tuesday
16,20200520,20/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Wednesday
17,20200521,21/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Thursday
18,20200522,22/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Friday
19,20200523,23/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Saturday
20,20200524,24/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Sunday
21,20200525,25/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Monday
22,20200526,26/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Tuesday
23,20200527,27/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Wednesday
24,20200528,28/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Thursday
25,20200529,29/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Friday
26,20200530,30/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Saturday
27,20200531,31/05/2020,May-20,202005,Q2 2020,20202,2020,Year 2020,Sunday
28,20200601,01/06/2020,Jun-20,202006,Q2 2020,20202,2020,Year 2020,Monday
29,20200602,02/06/2020,Jun-20,202006,Q2 2020,20202,2020,Year 2020,Thursday
30,20200603,03/06/2020,Jun-20,202006,Q2 2020,20202,2020,Year 2020,Friday
31,20200604,04/06/2020,Jun-20,202006,Q2 2020,20202,2020,Year 2020,Monday
32,20200605,05/06/2020,Jun-20,202006,Q2 2020,20202,2020,Year 2020,Wednesday
33,20200606,06/06/2020,Jun-20,202006,Q2 2020,20202,2020,Year 2020,Saturday

In [3]:
time.to_csv('Time_no_duplicates.csv')

### Renaming store columns and adding VAT field

In [4]:
store.columns = ['Store', 'Store Name', 'Store Location'] 
vat = ['18%', '18%', '0%']
store['VAT'] = vat
store['VAT float'] = store['VAT'].str.replace('%','').astype(float)/100

store

   Store       Store Name Store Location  VAT  VAT float
0      1  Brand New Store         Berlin  18%       0.18
1      2    Vintage Store        Leipzig  18%       0.18
2      3        TOP Store        Leipzig   0%       0.00

In [5]:
store.to_csv('store_vat_added.csv')

### Renaming sales columns

In [6]:
sales.columns = ['Date', 'Store', 'Product No', 'Customer No', 'QTY']

sales

          Date  Store  Product No  Customer No  QTY
0   04/05/2020      1           3           29   60
1   05/05/2020      2           8           26   67
2   06/05/2020      3           5           12   68
3   07/05/2020      1           6           22   52
4   08/05/2020      1           1           29   78
5   09/05/2020      2           9           23   82
6   10/05/2020      1           7           12   87
7   11/05/2020      3           9           30   90
8   12/05/2020      2           4            9   66
9   13/05/2020      2           1           14   57
10  14/05/2020      2           5            7   98
11  15/05/2020      2           9           16   59
12  16/05/2020      2           6           18   77
13  17/05/2020      3           3            8   93
14  18/05/2020      1          10           21   63
15  19/05/2020      1           4           20   96
16  20/05/2020      2           3           28   90
17  21/05/2020      2           3            1   79
18  22/05/2020      3           2           30   52
19  23/05/2020      3           7           24   67
20  24/05/2020      3          10            8   83
21  25/05/2020      2           9            8   93
22  26/05/2020      2           6            5   57
23  27/05/2020      2           1           30   89
24  28/05/2020      2           8           24   58
25  29/05/2020      3           2           21  100
26  30/05/2020      3           7           28   77
27  31/05/2020      1          10           28   86
28  01/06/2020      2           2           28   74
29  02/06/2020      1           7            5   83
30  03/06/2020      3           4           25   72
31  04/06/2020      3           3           11   90
32  05/06/2020      3           6           30   64
33  06/06/2020      2           4            8   81

In [7]:
sales.to_csv('sales_renamed.csv')

### Printing product table

In [8]:
product

    Product No    Product  Price Currency
0            1  Product A   26.0      USD
1            2  Product B   37.0      EUR
2            3  Product C   46.0      USD
3            4  Product D   34.0      USD
4            5  Product E   11.0      EUR
5            6  Product F   15.0      EUR
6            7  Product G   20.0      USD
7            8  Product H   45.0      EUR
8            9  Product I   31.0      EUR
9           10  Product J   25.0      USD
10          11  Product K   50.0      EUR

### Printing customer table

In [9]:
customer = customer.rename(columns=lambda x: x.strip())
customer['Customer'] = customer['Customer'].str.replace(' -', '')

customer

    Customer No      Customer
0             1  Customer 001
1             2  Customer 002
2             3  Customer 003
3             4  Customer 004
4             5  Customer 005
5             6  Customer 006
6             7  Customer 007
7             8  Customer 008
8             9  Customer 009
9            10  Customer 010
10           11  Customer 011
11           12  Customer 012
12           13  Customer 013
13           14  Customer 014
14           15  Customer 015
15           16  Customer 016
16           17  Customer 017
17           18  Customer 018
18           19  Customer 019
19           20  Customer 020
20           21  Customer 021
21           22  Customer 022
22           23  Customer 023
23           24  Customer 024
24           25  Customer 025
25           26  Customer 026
26           27  Customer 027
27           28  Customer 028
28           29  Customer 029
29           30  Customer 030

In [10]:
sales.to_csv('sales_renamed.csv')

### Updading currency table

In [11]:
currency.columns = ['Currency From', 'Currency To', 'Conversion Rate', 'From', 'To']

currency['To'] = 20201130, 20200602, 20201130
currency

  Currency From Currency To  Conversion Rate      From        To
0           EUR         EUR             1.00  20200101  20201130
1           USD         EUR             1.10  20200101  20200602
2           USD         EUR             1.18  20200603  20201130

In [12]:
currency.to_csv('currency_renamed.csv')

### Creating master merge

In [13]:
sales_store = sales.merge(store, how='left', on='Store')
sales_store_customer = sales_store.merge(customer, how='left', on='Customer No')
sales_store_customer_product = sales_store_customer.merge(product, how='left', on='Product No')
sales_store_customer_product_time = sales_store_customer_product.merge(time, how='left', on='Date')
sales_store_customer_product_time_currency = sales_store_customer_product_time.merge(currency, how='left', left_on='Currency', right_on='Currency From')
master_merge = sales_store_customer_product_time_currency
master_merge = master_merge.drop(master_merge[(master_merge.Currency == 'USD') & (master_merge.MemberId > master_merge.To)].index)
master_merge = master_merge.drop(master_merge[(master_merge.MemberId < master_merge.From)].index)
master_merge.reset_index(drop=True, inplace=True)

master_merge

,Date,Store,Product No,Customer No,QTY,Store Name,Store Location,VAT,VAT float,Customer,...,QuarterName,Quarter,Year,YearName,Weekday,Currency From,Currency To,Conversion Rate,From,To
0,04/05/2020,1,3,29,60,Brand New Store,Berlin,18%,0.18,Customer 029,...,Q2 2020,20202,2020,Year 2020,Sunday,USD,EUR,1.10,20200101,20200602
1,05/05/2020,2,8,26,67,Vintage Store,Leipzig,18%,0.18,Customer 026,...,Q2 2020,20202,2020,Year 2020,Tuesday,EUR,EUR,1.00,20200101,20201130
2,06/05/2020,3,5,12,68,TOP Store,Leipzig,0%,0.00,Customer 012,...,Q2 2020,20202,2020,Year 2020,Friday,EUR,EUR,1.00,20200101,20201130
3,07/05/2020,1,6,22,52,Brand New Store,Berlin,18%,0.18,Customer 022,...,Q2 2020,20202,2020,Year 2020,Sunday,EUR,EUR,1.00,20200101,20201130
4,08/05/2020,1,1,29,78,Brand New Store,Berlin,18%,0.18,Customer 029,...,Q2 2020,20202,2020,Year 2020,Wednesday,USD,EUR,1.10,20200101,20200602
5,09/05/2020,2,9,23,82,Vintage Store,Leipzig,18%,0.18,Customer 023,...,Q2 2020,20202,2020,Year 2020,Saturday,EUR,EUR,1.00,20200101,20201130
6,10/05/2020,1,7,12,87,Brand New Store,Berlin,18%,0.18,Customer 012,...,Q2 2020,20202,2020,Year 2020,Monday,USD,EUR,1.10,20200101,20200602
7,11/05/2020,3,9,30,90,TOP Store,Leipzig,0%,0.00,Customer 030,...,Q2 2020,20202,2020,Year 2020,Thursday,EUR,EUR,1.00,20200101,20201130
8,12/05/2020,2,4,9,66,Vintage Store,Leipzig,18%,0.18,Customer 009,...,Q2 2020,20202,2020,Year 2020,Saturday,USD,EUR,1.10,20200101,20200602
9,13/05/2020,2,1,14,57,Vintage Store,Leipzig,18%,0.18,Customer 014,...,Q2 2020,20202,2020,Year 2020,Wednesday,USD,EUR,1.10,20200101,20200602
10,14/05/2020,2,5,7,98,Vintage Store,Leipzig,18%,0.18,Customer 007,...,Q2 2020,20202,2020,Year 2020,Thursday,EUR,EUR,1.00,20200101,20201130
11,15/05/2020,2,9,16,59,Vintage Store,Leipzig,18%,0.18,Customer 016,...,Q2 2020,20202,2020,Year 2020,Friday,EUR,EUR,1.00,20200101,20201130
12,16/05/2020,2,6,18,77,Vintage Store,Leipzig,18%,0.18,Customer 018,...,Q2 2020,20202,2020,Year 2020,Saturday,EUR,EUR,1.00,20200101,20201130
13,17/05/2020,3,3,8,93,TOP Store,Leipzig,0%,0.00,Customer 008,...,Q2 2020,20202,2020,Year 2020,Sunday,USD,EUR,1.10,20200101,20200602
14,18/05/2020,1,10,21,63,Brand New Store,Berlin,18%,0.18,Customer 021,...,Q2 2020,20202,2020,Year 2020,Monday,USD,EUR,1.10,20200101,20200602
15,19/05/2020,1,4,20,96,Brand New Store,Berlin,18%,0.18,Customer 020,...,Q2 2020,20202,2020,Year 2020,Tuesday,USD,EUR,1.10,20200101,20200602
16,20/05/2020,2,3,28,90,Vintage Store,Leipzig,18%,0.18,Customer 028,...,Q2 2020,20202,2020,Year 2020,Wednesday,USD,EUR,1.10,20200101,20200602
17,21/05/2020,2,3,1,79,Vintage Store,Leipzig,18%,0.18,Customer 001,...,Q2 2020,20202,2020,Year 2020,Thursday,USD,EUR,1.10,20200101,20200602
18,22/05/2020,3,2,30,52,TOP Store,Leipzig,0%,0.00,Customer 030,...,Q2 2020,20202,2020,Year 2020,Friday,EUR,EUR,1.00,20200101,20201130
19,23/05/2020,3,7,24,67,TOP Store,Leipzig,0%,0.00,Customer 024,...,Q2 2020,20202,2020,Year 2020,Saturday,USD,EUR,1.10,20200101,20200602
20,24/05/2020,3,10,8,83,TOP Store,Leipzig,0%,0.00,Customer 008,...,Q2 2020,20202,2020,Year 2020,Sunday,USD,EUR,1.10,20200101,20200602
21,25/05/2020,2,9,8,93,Vintage Store,Leipzig,18%,0.18,Customer 008,...,Q2 2020,20202,2020,Year 2020,Monday,EUR,EUR,1.00,20200101,20201130
22,26/05/2020,2,6,5,57,Vintage Store,Leipzig,18%,0.18,Customer 005,...,Q2 2020,20202,2020,Year 2020,Tuesday,EUR,EUR,1.00,20200101,20201130
23,27/05/2020,2,1,30,89,Vintage Store,Leipzig,18%,0.18,Customer 030,...,Q2 2020,20202,2020,Year 2020,Wednesday,USD,EUR,1.10,20200101,20200602
24,28/05/2020,2,8,24,58,Vintage Store,Leipzig,18%,0.18,Customer 024,...,Q2 2020,20202,2020,Year 2020,Thursday,EUR,EUR,1.00,20200101,20201130
25,29/05/2020,3,2,21,100,TOP Store,Leipzig,0%,0.00,Customer 021,...,Q2 2020,20202,2020,Year 2020,Friday,EUR,EUR,1.00,20200101,20201130
26,30/05/2020,3,7,28,77,TOP Store,Leipzig,0%,0.00,Customer 028,...,Q2 2020,20202,2020,Year 2020,Saturday,USD,EUR,1.10,20200101,20200602
27,31/05/2020,1,10,28,86,Brand New Store,Berlin,18%,0.18,Customer 028,...,Q2 2020,20202,2020,Year 2020,Sunday,USD,EUR,1.10,20200101,20200602
28,01/06/2020,2,2,28,74,Vintage Store,Leipzig,18%,0.18,Customer 028,...,Q2 2020,20202,2020,Year 2020,Monday,EUR,EUR,1.00,20200101,20201130
29,02/06/2020,1,7,5,83,Brand New Store,Berlin,18%,0.18,Customer 005,...,Q2 2020,20202,2020,Year 2020,Thursday,USD,EUR,1.10,20200101,20200602
30,03/06/2020,3,4,25,72,TOP Store,Leipzig,0%,0.00,Customer 025,...,Q2 2020,20202,2020,Year 2020,Friday,USD,EUR,1.18,20200603,20201130
31,04/06/2020,3,3,11,90,TOP Store,Leipzig,0%,0.00,Customer 011,...,Q2 2020,20202,2020,Year 2020,Monday,USD,EUR,1.18,20200603,20201130
32,05/06/2020,3,6,30,64,TOP Store,Leipzig,0%,0.00,Customer 030,...,Q2 2020,20202,2020,Year 2020,Wednesday,EUR,EUR,1.00,20200101,20201130
33,06/06/2020,2,4,8,81,Vintage Store,Leipzig,18%,0.18,Customer 008,...,Q2 2020,20202,2020,Year 2020,Saturday,USD,EUR,1.18,20200603,20201130

### Updating master merge by adding total EUR gross and net values

In [14]:
master_merge['Price per unit Net'] = master_merge['Price'].round(2)
master_merge['VAT Value'] = (master_merge['Price per unit Net']*master_merge['VAT float']).round(2)
master_merge['Price per unit Gross'] = (master_merge['VAT Value'] + master_merge['Price per unit Net']).round(2)
master_merge['Total Price Net'] = master_merge['Price per unit Net'] * master_merge['QTY']
master_merge['Total Price Gross'] = master_merge['Price per unit Gross'] * master_merge['QTY']
master_merge['Total VAT'] = master_merge['Total Price Gross'] - master_merge['Total Price Net']


master_merge['EUR Price per unit Net'] = (master_merge['Conversion Rate']*master_merge['Price']).round(2)
master_merge['EUR VAT Value'] = (master_merge['EUR Price per unit Net']*master_merge['VAT float']).round(2)
master_merge['EUR Price per unit Gross'] = (master_merge['EUR VAT Value'] + master_merge['EUR Price per unit Net']).round(2)
master_merge['EUR Total Price Net'] = master_merge['EUR Price per unit Net'] * master_merge['QTY']
master_merge['EUR Total Price Gross'] = master_merge['EUR Price per unit Gross'] * master_merge['QTY']
master_merge['EUR Total VAT'] = master_merge['EUR Total Price Gross'] - master_merge['EUR Total Price Net']

master_merge

,Date,Store,Product No,Customer No,QTY,Store Name,Store Location,VAT,VAT float,Customer,...,Price per unit Gross,Total Price Net,Total Price Gross,Total VAT,EUR Price per unit Net,EUR VAT Value,EUR Price per unit Gross,EUR Total Price Net,EUR Total Price Gross,EUR Total VAT
0,04/05/2020,1,3,29,60,Brand New Store,Berlin,18%,0.18,Customer 029,...,54.28,2760.0,3256.80,496.80,50.60,9.11,59.71,3036.00,3582.60,546.60
1,05/05/2020,2,8,26,67,Vintage Store,Leipzig,18%,0.18,Customer 026,...,53.10,3015.0,3557.70,542.70,45.00,8.10,53.10,3015.00,3557.70,542.70
2,06/05/2020,3,5,12,68,TOP Store,Leipzig,0%,0.00,Customer 012,...,11.00,748.0,748.00,0.00,11.00,0.00,11.00,748.00,748.00,0.00
3,07/05/2020,1,6,22,52,Brand New Store,Berlin,18%,0.18,Customer 022,...,17.70,780.0,920.40,140.40,15.00,2.70,17.70,780.00,920.40,140.40
4,08/05/2020,1,1,29,78,Brand New Store,Berlin,18%,0.18,Customer 029,...,30.68,2028.0,2393.04,365.04,28.60,5.15,33.75,2230.80,2632.50,401.70
5,09/05/2020,2,9,23,82,Vintage Store,Leipzig,18%,0.18,Customer 023,...,36.58,2542.0,2999.56,457.56,31.00,5.58,36.58,2542.00,2999.56,457.56
6,10/05/2020,1,7,12,87,Brand New Store,Berlin,18%,0.18,Customer 012,...,23.60,1740.0,2053.20,313.20,22.00,3.96,25.96,1914.00,2258.52,344.52
7,11/05/2020,3,9,30,90,TOP Store,Leipzig,0%,0.00,Customer 030,...,31.00,2790.0,2790.00,0.00,31.00,0.00,31.00,2790.00,2790.00,0.00
8,12/05/2020,2,4,9,66,Vintage Store,Leipzig,18%,0.18,Customer 009,...,40.12,2244.0,2647.92,403.92,37.40,6.73,44.13,2468.40,2912.58,444.18
9,13/05/2020,2,1,14,57,Vintage Store,Leipzig,18%,0.18,Customer 014,...,30.68,1482.0,1748.76,266.76,28.60,5.15,33.75,1630.20,1923.75,293.55
10,14/05/2020,2,5,7,98,Vintage Store,Leipzig,18%,0.18,Customer 007,...,12.98,1078.0,1272.04,194.04,11.00,1.98,12.98,1078.00,1272.04,194.04
11,15/05/2020,2,9,16,59,Vintage Store,Leipzig,18%,0.18,Customer 016,...,36.58,1829.0,2158.22,329.22,31.00,5.58,36.58,1829.00,2158.22,329.22
12,16/05/2020,2,6,18,77,Vintage Store,Leipzig,18%,0.18,Customer 018,...,17.70,1155.0,1362.90,207.90,15.00,2.70,17.70,1155.00,1362.90,207.90
13,17/05/2020,3,3,8,93,TOP Store,Leipzig,0%,0.00,Customer 008,...,46.00,4278.0,4278.00,0.00,50.60,0.00,50.60,4705.80,4705.80,0.00
14,18/05/2020,1,10,21,63,Brand New Store,Berlin,18%,0.18,Customer 021,...,29.50,1575.0,1858.50,283.50,27.50,4.95,32.45,1732.50,2044.35,311.85
15,19/05/2020,1,4,20,96,Brand New Store,Berlin,18%,0.18,Customer 020,...,40.12,3264.0,3851.52,587.52,37.40,6.73,44.13,3590.40,4236.48,646.08
16,20/05/2020,2,3,28,90,Vintage Store,Leipzig,18%,0.18,Customer 028,...,54.28,4140.0,4885.20,745.20,50.60,9.11,59.71,4554.00,5373.90,819.90
17,21/05/2020,2,3,1,79,Vintage Store,Leipzig,18%,0.18,Customer 001,...,54.28,3634.0,4288.12,654.12,50.60,9.11,59.71,3997.40,4717.09,719.69
18,22/05/2020,3,2,30,52,TOP Store,Leipzig,0%,0.00,Customer 030,...,37.00,1924.0,1924.00,0.00,37.00,0.00,37.00,1924.00,1924.00,0.00
19,23/05/2020,3,7,24,67,TOP Store,Leipzig,0%,0.00,Customer 024,...,20.00,1340.0,1340.00,0.00,22.00,0.00,22.00,1474.00,1474.00,0.00
20,24/05/2020,3,10,8,83,TOP Store,Leipzig,0%,0.00,Customer 008,...,25.00,2075.0,2075.00,0.00,27.50,0.00,27.50,2282.50,2282.50,0.00
21,25/05/2020,2,9,8,93,Vintage Store,Leipzig,18%,0.18,Customer 008,...,36.58,2883.0,3401.94,518.94,31.00,5.58,36.58,2883.00,3401.94,518.94
22,26/05/2020,2,6,5,57,Vintage Store,Leipzig,18%,0.18,Customer 005,...,17.70,855.0,1008.90,153.90,15.00,2.70,17.70,855.00,1008.90,153.90
23,27/05/2020,2,1,30,89,Vintage Store,Leipzig,18%,0.18,Customer 030,...,30.68,2314.0,2730.52,416.52,28.60,5.15,33.75,2545.40,3003.75,458.35
24,28/05/2020,2,8,24,58,Vintage Store,Leipzig,18%,0.18,Customer 024,...,53.10,2610.0,3079.80,469.80,45.00,8.10,53.10,2610.00,3079.80,469.80
25,29/05/2020,3,2,21,100,TOP Store,Leipzig,0%,0.00,Customer 021,...,37.00,3700.0,3700.00,0.00,37.00,0.00,37.00,3700.00,3700.00,0.00
26,30/05/2020,3,7,28,77,TOP Store,Leipzig,0%,0.00,Customer 028,...,20.00,1540.0,1540.00,0.00,22.00,0.00,22.00,1694.00,1694.00,0.00
27,31/05/2020,1,10,28,86,Brand New Store,Berlin,18%,0.18,Customer 028,...,29.50,2150.0,2537.00,387.00,27.50,4.95,32.45,2365.00,2790.70,425.70
28,01/06/2020,2,2,28,74,Vintage Store,Leipzig,18%,0.18,Customer 028,...,43.66,2738.0,3230.84,492.84,37.00,6.66,43.66,2738.00,3230.84,492.84
29,02/06/2020,1,7,5,83,Brand New Store,Berlin,18%,0.18,Customer 005,...,23.60,1660.0,1958.80,298.80,22.00,3.96,25.96,1826.00,2154.68,328.68
30,03/06/2020,3,4,25,72,TOP Store,Leipzig,0%,0.00,Customer 025,...,34.00,2448.0,2448.00,0.00,40.12,0.00,40.12,2888.64,2888.64,0.00
31,04/06/2020,3,3,11,90,TOP Store,Leipzig,0%,0.00,Customer 011,...,46.00,4140.0,4140.00,0.00,54.28,0.00,54.28,4885.20,4885.20,0.00
32,05/06/2020,3,6,30,64,TOP Store,Leipzig,0%,0.00,Customer 030,...,15.00,960.0,960.00,0.00,15.00,0.00,15.00,960.00,960.00,0.00
33,06/06/2020,2,4,8,81,Vintage Store,Leipzig,18%,0.18,Customer 008,...,40.12,2754.0,3249.72,495.72,40.12,7.22,47.34,3249.72,3834.54,584.82

In [15]:
master_merge.to_csv('Master_merge.csv')

### Total Revenue

In [35]:
master_merge['Price per unit Net'] = master_merge['Price'].sum()
revenue = master_merge[['Date','Store Name', 'Store Location','EUR Price per unit Net', \
                        'EUR VAT Value', 'EUR Price per unit Gross','QTY', 'EUR Total Price Net', \
                        'EUR Total Price Gross', 'EUR Total VAT']]

revenue.at['Total', 'EUR Total Price Net'] = revenue['EUR Total Price Net'].sum()
revenue.at['Total', 'EUR Total Price Gross'] = revenue['EUR Total Price Gross'].sum()
revenue.at['Total', 'EUR Total VAT'] = revenue['EUR Total VAT'].sum()
revenue.at['Total', 'QTY'] = revenue['QTY'].sum()

revenue

/Users/edwardkolodziejski/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[index, col] = value

,Date,Store Name,Store Location,EUR Price per unit Net,EUR VAT Value,EUR Price per unit Gross,QTY,EUR Total Price Net,EUR Total Price Gross,EUR Total VAT
0,04/05/2020,Brand New Store,Berlin,50.60,9.11,59.71,60.0,3036.00,3582.60,546.60
1,05/05/2020,Vintage Store,Leipzig,45.00,8.10,53.10,67.0,3015.00,3557.70,542.70
2,06/05/2020,TOP Store,Leipzig,11.00,0.00,11.00,68.0,748.00,748.00,0.00
3,07/05/2020,Brand New Store,Berlin,15.00,2.70,17.70,52.0,780.00,920.40,140.40
4,08/05/2020,Brand New Store,Berlin,28.60,5.15,33.75,78.0,2230.80,2632.50,401.70
5,09/05/2020,Vintage Store,Leipzig,31.00,5.58,36.58,82.0,2542.00,2999.56,457.56
6,10/05/2020,Brand New Store,Berlin,22.00,3.96,25.96,87.0,1914.00,2258.52,344.52
7,11/05/2020,TOP Store,Leipzig,31.00,0.00,31.00,90.0,2790.00,2790.00,0.00
8,12/05/2020,Vintage Store,Leipzig,37.40,6.73,44.13,66.0,2468.40,2912.58,444.18
9,13/05/2020,Vintage Store,Leipzig,28.60,5.15,33.75,57.0,1630.20,1923.75,293.55
10,14/05/2020,Vintage Store,Leipzig,11.00,1.98,12.98,98.0,1078.00,1272.04,194.04
11,15/05/2020,Vintage Store,Leipzig,31.00,5.58,36.58,59.0,1829.00,2158.22,329.22
12,16/05/2020,Vintage Store,Leipzig,15.00,2.70,17.70,77.0,1155.00,1362.90,207.90
13,17/05/2020,TOP Store,Leipzig,50.60,0.00,50.60,93.0,4705.80,4705.80,0.00
14,18/05/2020,Brand New Store,Berlin,27.50,4.95,32.45,63.0,1732.50,2044.35,311.85
15,19/05/2020,Brand New Store,Berlin,37.40,6.73,44.13,96.0,3590.40,4236.48,646.08
16,20/05/2020,Vintage Store,Leipzig,50.60,9.11,59.71,90.0,4554.00,5373.90,819.90
17,21/05/2020,Vintage Store,Leipzig,50.60,9.11,59.71,79.0,3997.40,4717.09,719.69
18,22/05/2020,TOP Store,Leipzig,37.00,0.00,37.00,52.0,1924.00,1924.00,0.00
19,23/05/2020,TOP Store,Leipzig,22.00,0.00,22.00,67.0,1474.00,1474.00,0.00
20,24/05/2020,TOP Store,Leipzig,27.50,0.00,27.50,83.0,2282.50,2282.50,0.00
21,25/05/2020,Vintage Store,Leipzig,31.00,5.58,36.58,93.0,2883.00,3401.94,518.94
22,26/05/2020,Vintage Store,Leipzig,15.00,2.70,17.70,57.0,855.00,1008.90,153.90
23,27/05/2020,Vintage Store,Leipzig,28.60,5.15,33.75,89.0,2545.40,3003.75,458.35
24,28/05/2020,Vintage Store,Leipzig,45.00,8.10,53.10,58.0,2610.00,3079.80,469.80
25,29/05/2020,TOP Store,Leipzig,37.00,0.00,37.00,100.0,3700.00,3700.00,0.00
26,30/05/2020,TOP Store,Leipzig,22.00,0.00,22.00,77.0,1694.00,1694.00,0.00
27,31/05/2020,Brand New Store,Berlin,27.50,4.95,32.45,86.0,2365.00,2790.70,425.70
28,01/06/2020,Vintage Store,Leipzig,37.00,6.66,43.66,74.0,2738.00,3230.84,492.84
29,02/06/2020,Brand New Store,Berlin,22.00,3.96,25.96,83.0,1826.00,2154.68,328.68
30,03/06/2020,TOP Store,Leipzig,40.12,0.00,40.12,72.0,2888.64,2888.64,0.00
31,04/06/2020,TOP Store,Leipzig,54.28,0.00,54.28,90.0,4885.20,4885.20,0.00
32,05/06/2020,TOP Store,Leipzig,15.00,0.00,15.00,64.0,960.00,960.00,0.00
33,06/06/2020,Vintage Store,Leipzig,40.12,7.22,47.34,81.0,3249.72,3834.54,584.82
Total,NaN,NaN,NaN,NaN,NaN,NaN,2588.0,82676.96,92509.88,9832.92

In [17]:
revenue.to_csv('Revenue.csv')

### Revenue by store

In [18]:
revenue_by_store = revenue.groupby(['Store Name']).sum().round(2)
revenue_by_store = revenue_by_store[['QTY','EUR Total Price Net', 'EUR Total Price Gross', 'EUR Total VAT']]
revenue_by_store

,QTY,EUR Total Price Net,EUR Total Price Gross,EUR Total VAT
Store Name,,,,
Brand New Store,605.0,17474.70,20620.23,3145.53
TOP Store,856.0,28052.14,28052.14,0.00
Vintage Store,1127.0,37150.12,43837.51,6687.39

In [19]:
revenue_by_store.to_csv('Revenue_by_store.csv')

### Sales by product

In [20]:
total_products = master_merge[['Product', 'QTY', 'EUR Total Price Net','EUR Total Price Gross', 'EUR Total VAT']]
total_products = total_products.groupby(['Product']).sum().sort_values(by=['QTY'], ascending=False)
total_products

           QTY  EUR Total Price Net  EUR Total Price Gross  EUR Total VAT
Product
Product C  412             21178.40               23264.59        2086.19
Product I  324             10044.00               11349.72        1305.72
Product D  315             12197.16               13872.24        1675.08
Product G  314              6908.00                7581.20         673.20
Product F  250              3750.00                4252.20         502.20
Product J  232              6380.00                7117.55         737.55
Product B  226              8362.00                8854.84         492.84
Product A  224              6406.40                7560.00        1153.60
Product E  166              1826.00                2020.04         194.04
Product H  125              5625.00                6637.50        1012.50

In [21]:
total_products.to_csv('Total_products.csv')

### Sales by weekdays

In [22]:
sales_by_weekday = master_merge[['Weekday','Product', 'QTY', 'EUR Total Price Net', \
                                'EUR Total Price Gross', 'EUR Total VAT']]
sales_by_weekday = sales_by_weekday.groupby(['Weekday']).sum().sort_values(by=['QTY'], ascending=False)
sales_by_weekday

           QTY  EUR Total Price Net  EUR Total Price Gross  EUR Total VAT
Weekday
Saturday   450             12583.12               14277.58        1694.46
Thursday   408             12301.40               14013.61        1712.21
Monday     407             14152.70               15820.85        1668.15
Wednesday  378             11920.40               13893.90        1973.50
Sunday     374             13169.30               14282.00        1112.70
Friday     351             11089.64               11418.86         329.22
Tuesday    220              7460.40                8803.08        1342.68

In [ ]:
sales_by_weekday.to_csv('Sales_by_weekday.csv')